@tailwind base;
@tailwind components;
@tailwind utilities;

/* Works on Firefox */
* {
	scrollbar-width: thin;
	scrollbar-color: #9567c4 transparent;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 12px;
}

*::-webkit-scrollbar-track {
	background: transparent;
}

*::-webkit-scrollbar-thumb {
	background-color: #9567c4;
	border-radius: 20px;
	border: 3px solid transparent;
}

.title {
	@apply font-title text-5xl font-bold;
}

html {
	scroll-behavior: smooth;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background-color: #ebebeb;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background: #6d6d6d;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type="number"] {
	-moz-appearance: textfield;
}

a {
	@apply cursor-pointer;
	@apply text-jaguar-600;
	@apply transition-all duration-200 ease-in-out;
}
a:hover {
	@apply text-jaguar-100;
}

.progress-bar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 10px;
	background: var(--red);
	transform-origin: 0%;
}

/* CARDS */
.category_card {
	min-width: 33.33%;
	height: 254px;
	background-image: linear-gradient(163deg, #af40ff 70%, #eb5a17 100%);
	border-radius: 20px;
	transition: all 0.3s;
}

.category_card2 {
	width: 190px;
	min-height: 254px;
	border-radius: 18px;
	transition: all 0.2s;
}

.category_card2:hover {
	transform: scale(0.98);
	border-radius: 20px;
}

.category_card:hover {
	box-shadow: 0px 0px 30px 0.23px #af40ff;
}

/* BUTTONS */
.neon-button {
	align-items: center;
	background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #eb5a17);
	border: 0;
	border-radius: 8px;
	box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
	box-sizing: border-box;
	color: #ffffff;
	display: flex;
	font-family: Phantomsans, sans-serif;
	font-size: 18px;
	justify-content: center;
	line-height: 1em;
	max-width: 100%;
	min-width: 140px;
	padding: 3px;
	text-decoration: none;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	white-space: nowrap;
	cursor: pointer;
	transition: all 0.3s;
}

.neon-button:active,
.neon-button:hover {
	outline: 0;
}

.neon-button span {
	background-color: rgb(5, 6, 45);
	padding: 16px 24px;
	border-radius: 6px;
	width: 100%;
	height: 100%;
	transition: 300ms;
	text-wrap: wrap;
	line-height: 25px;
}

.neon-button:hover span {
	background: none;
}

.neon-button:active {
	transform: scale(0.9);
}
